.main {
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  .left {
    width: 340px;
    border: 1px solid red;
  }
  .right {
    width: calc(100% - 340px);
    border: 1px solid blue;
  }
}

@media screen and (max-width: 1280px) {
  .main {
    .left {
    }
    .right {
    }
  }
}
@media screen and (max-width: 768px) {
  .main {
    .left {
      display: none;
    }
    .right {
      width: 100%;
    }
  }
}
