.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 340px;
  height: 40px;
  padding: 10px 50px;
  text-decoration: none;
  &:hover .text {
    color: var(--primary);
    transition: all 0.3s;
  }
  &:hover .icon {
    color: var(--primary);
    transition: all 0.3s;
  }
  .text {
    display: block;
  }
  .icon {
    display: block;
  }
}

@media screen and (max-width: 1280px) {
  .link {
  }
  .icon {
  }
}

@media screen and (max-width: 768px) {
  .link {
  }
  .icon {
  }
}
