/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/styles/globals.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --background: #000000;
  --foreground: #ffffff;
  --main-black: #000000;
  --main-white: #ffffff;
  --main-blue: #0043ce;
  --sub-blue: #007bff;
  --main-gray: #d7d7d7;
  --background: #0c0c0c;
  --primary: #8e05c2;
  --secondary: #700b97;
  --tertiary: #3e065f;
  --xsnall: 0.5rem;
  --small: 0.7rem;
  --default: 1rem;
  --large: 1.2rem;
  --xlarge: 1.5rem;
  --xxlarge: 2rem;
  --xxxlarge: 2.5rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Merriweather Sans", sans-serif;
  background-color: var(--background);
  color: var(--main-white);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
