.header {
  width: 100%;
  height: 100px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1px solid gray;
  .leftBox {
  }
  .rightBox {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1280px) {
  .header {
    .leftBox {
    }
    .rightBox {
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .leftBox {
    }
    .rightBox {
    }
  }
}
