.listItem {
  display: block;
  width: auto;
  height: 60px;
  padding: 0 10px;
  border-radius: 30px;
  background-color: var(--main-blue);
  .link {
    text-decoration: none;
    display: flex;
    align-items: center;
    .icon {
      width: 20px;
      height: 20px;
      color: var(--main-white);
      margin-right: 5px;
    }
    .text {
      color: var(--main-white);
      line-height: 60px;
    }
  }
}

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 768px) {
}
